# It seems pointless to try to synchronize the lazy-lock file because there are always updates
# that interfere with synchronizing the rest of the files.  So, we'll just ignore it.
/lazy-lock.json
/lazyvim.json

